{% extends 'base.html.twig' %}

{% block title %}Créer une categorie{% endblock %}

{% block body %}
    <h1 class="jumbotron">Créer une categorie</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category_index') }}" class="btn btn-primary mt-5"><i class="fa fa-arrow-circle-left mr-2"></i>Retour</a>
{% endblock %}
