{% extends 'base.html.twig' %}

{% block title %}Edit AdminUser{% endblock %}

{% block body %}
    <h1>Editer l'utilisateur</h1>

    {{ include('admin_user/_form.html.twig', {'button_label': 'Editer'}) }}

    <div class="d-flex">
        <a href="{{ path('admin_user_index') }}" class="btn btn-info mr-3">Back to list</a>

        {% if app.user != admin_user %}
            {{ include('admin_user/_delete_form.html.twig') }}
        {% else %}
            <button disabled class="btn btn-danger  text-decoration-line-through">delete</button>
        {% endif %}
    </div>
{% endblock %}
