{% extends 'base.html.twig' %}

{% block title %}New AdminUser{% endblock %}

{% block body %}
    <h1>Create new AdminUser</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}" class="btn btn-info">back to list</a>
{% endblock %}
