{% extends 'base.html.twig' %}

{% block title %}New AdminUser{% endblock %}

{% block body %}
    <h1 class="jumbotron">Créer un admin</h1>

    {{ include('admin_user/_form.html.twig') }}

    <a href="{{ path('admin_user_index') }}" class="btn btn-info"><i class="fa fa-arrow-circle-left"></i> Retour</a>
{% endblock %}
